section {
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(5px);
    height: 8rem;
    font-size: 2rem;
}